.widget-picsum {
}

.widget-picsum__image {
  margin: auto;
}

.widget-picsum-user {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 20px;
  margin: 20px;
}

.widget-picsum-user__picture {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.widget-picsum-user__name {
  font-size: 12px;
  margin: auto;
  padding-right: 8px;
}
